In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [2]:
auto = pd.read_csv('auto-mpg.data')

In [3]:
auto.head()

  18.0   8   307.0      130.0      3504.      12.0   70  1\t"chevrolet chevelle malibu"
0  15.0   8   350.0      165.0      3693.      11...
1  18.0   8   318.0      150.0      3436.      11...
2  16.0   8   304.0      150.0      3433.      12...
3  17.0   8   302.0      140.0      3449.      10...
4  15.0   8   429.0      198.0      4341.      10...